$color-gray: #424242;
$color-orange: #ff8a00;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1475px;
  margin: 0 auto;
  //   padding-left: 2rem;
  //   padding-right: 2rem;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

/* Scroll umumiy shakli */

::-webkit-scrollbar {
  width: 12px;
  /* skrollning eni */
  background-color: #f5f5f5;
  /* track fondi */
}

/* Scroll tutqichining shakli va rangi */

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* tutqich rangi */
  border-radius: 6px;
  /* burchaklarini yumaloqlash */
}

/* Scroll hover holatidagi stili */

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* hover qilinganda rangi o'zgaradi */
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2.4rem;
}

.location {
  display: flex;
  justify-content: space-between;
}

.where {
  display: flex;
  align-items: center;
  column-gap: 9px;
  justify-content: space-between;
}

.deliver p {
  //styleName: Button Bold;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #424242;
}

.current p {
  //styleName: Subtitle 1;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.location {
  display: flex;
  align-items: center;
}

.the-location a {
  //styleName: Body 1 Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #424242;
  transition: 0.3s;
}

.the-location a:hover {
  color: #000;
  text-decoration: underline;
  transition: 0.3s;
}

.login {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.user {
  display: flex;
  align-items: center;
  width: 272px;
  height: 46px;
  column-gap: 3rem;
}

.login {
  width: 100%;
  height: 100%;
  max-width: 118px;
  max-height: 46px;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 0px 26px 2px rgba(255, 174, 0, 0.75);
  -moz-box-shadow: 0px 0px 26px 2px rgba(255, 174, 0, 0.75);
  box-shadow: 0px 0px 20px 2px rgba(255, 174, 0, 0.75);
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  box-shadow: none;
  background-color: rgba(255, 174, 0, 0.75);
  color: #fff;
  transition: 0.3s;
}

.search {
  display: flex;
  column-gap: 7px;
}

.login-tittle p {
  //styleName: Button Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding: 1.4rem 2.4rem 1.4rem 1rem;
}

.search-tittle p {
  //styleName: Button Bold;
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 18px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
}

.login-image img {
  padding: 1.4rem 0rem 1.4rem 1rem;
}

.tittle h1 {
  //styleName: Headline 1 Bold;
  font-size: 88px;
  line-height: 88px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  color: #fff;
}

.tittle p {
  font-size: 22px;
  line-height: 26.4px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  padding-top: 1.5rem;
}

.tittle {
  max-width: 67.1rem;
  max-height: 12.9rem;
  padding-top: 13.2rem;
}

.left-side {
  max-width: 85.6rem;
  max-height: 355.4.4rem;
}

.nav {
  display: flex;
}

.delivering-system {
  max-width: 85.6rem;
  max-height: 194.4.4rem;
  border-radius: 1.6rem;
  background-color: #fff;
  margin-top: 16.2rem;
}

.ways {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  padding-top: 2.4rem;
  padding-left: 2.4rem;
  border-bottom: 1px solid gray;
  padding-bottom: 2.4rem;
}

.moto {
  max-width: 14.8rem;
  max-height: 3.8rem;
  padding: 1rem 2.4rem 1rem 1rem;
  display: flex;
  align-items: center;
  border: none;
  background-color: #f172281a;
  color: #f17228;
  //styleName: Button Bold;
  font-size: 18px;
  line-height: 18px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  border-radius: 0.8rem;
  transition: 0.3s;
}

.moto:hover {
  background-color: #f17228;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.basket {
  @extend .moto;
  background-color: rgb(255, 255, 255);
  color: #000;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.basket:hover {
  background-color: #757575;
}

.type input {
  border: none;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 39.3rem;
  height: 4.9rem;
}

.type {
  display: flex;
  align-items: center;
  column-gap: 1.6px;
  margin-top: 2.4rem;
  margin-left: 2.4rem;
  padding-bottom: 3rem;
}

.find-a-food button {
  display: flex;
  align-items: center;
  background-color: #ff7a7a;
  border: none;
  color: #fff;
  border-radius: 8px;
  padding: 2.1rem 4.8rem 2.1rem 4.8rem;
  column-gap: 2px;
  cursor: pointer;
  transition: 0.3s;
  //styleName: Button Bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
}

.find-a-food button:hover {
  background-color: #fdcc18;
  transition: 0.3s;
  color: #fff;
}

.navigation {
  background-color: #fdcc18;
}

.card-1 {
  max-width: 35.6rem;
  max-height: 41.5rem;
  text-align: left;
  margin-top: 8rem;
}

.cardd-1-food-tittle h2 {
  //styleName: Headline 6 Bold;
  color: #424242;
  font-size: 22px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  line-height: 26.4px;
  padding-top: 3.2rem;
}

.card {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.cardd-1-food-tittle p {
  max-width: 205px;
  max-height: 42px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #f1722833;
  //styleName: Headline 6 Bold;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  color: #f17228;
  margin-top: 1.4rem;
}
